<h2>Employees</h2>

<div>
  <label for="new-ciao">First and Last name: </label>
  <input id="new-ciao" #ciaoName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(ciaoName.value); ciaoName.value=''">
    Add worker
  </button>
</div>

<ul class="ciaos">
  <li *ngFor="let ciao of ciaos">
    <a routerLink="/detail/{{ciao.id}}">
      <span class="badge">{{ciao.id}}</span> {{ciao.name}}
    </a>
    <button class="delete" title="delete ciao"
      (click)="delete(ciao)">x</button>
  </li>
</ul>
